<section id="content">
  <header id="page-header" class="container">
    <h1>Healthscore Dash</h1>
  </header>
  <div class="container main-content">
    <div class="panel-body">
      <div class="panel-content row">
        <div class="col-xs-2">
          <div class="circle pd-5">
            <h1 class="text-center">60%</h1>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="widget-content">
            <p class="title"><strong>Olá, como anda sua jornada ao sucesso?</strong></p>
            <p class="description">Já fazem <b>19</b> dias que você não manda um e-mail pra sua base. Que tal utilizar o <a href="https://app.rdstation.com.br/emails">Calendário Mensal de E-mail Marketing</a> para recomeçar o relacionamento?</p>
            <div>
              <p><a title="RD Station" href="/configuracoes">Descubra como atrair o público certo para o seu site e transformá-lo em oportunidade</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
